<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Todo App</a>
    </div>
    <div 
      class='user-info' 
      *ngIf="authService.authenticated">
      
      <img 
        class="img-rounded"
        [src]="authService.currentUser.photoURL" 
        alt="{{authService.currentUser.displayName}}">
      
      <p>{{authService.currentUser.displayName}}</p>
      
      <button 
        (click)="signOut()">SIGN OUT
      </button>
    
    </div>
  </div>
</nav>

